body
{
    background-color: #f1f1f1;
    padding:0px;
    margin: 0px;
}
header
{
    margin : 0px;
    min-height:125px;
    background-color: #f6f4bd;
    margin-bottom: 20px;
}
#titre
{
    font-size: 5em;
    font-family: "French Script MT";
}

section
{
    margin-right: 8px;
    overflow:hidden;
    background: #fffe99;
    padding:25px;
}

@media (min-width: 500px){
    section
    {
	border-style: solid;
	border-width: 0px 47px 5px 0px;
	-moz-border-image: url(../img/anneau.png) 0 47 5 0 repeat round;
	-webkit-border-image: url(../img/anneau.png) 0 47 5 0 repeat round;
	-o-border-image: url(../img/anneau.png) 0 47 5 0 repeat round;
	border-image: url(../img/anneau.png) 0 47 5 0 fill repeat round;
    }
}
@media (max-width: 799px){
    .mobile{
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left:auto;
	margin-right:auto;
	width: 80%;
    }
    .mobile>select
    {
	width:100%;
    }
    #titre
    {
	text-align:center;	
    }
    #header_droit
    {
	text-align:center;
    }
    section 
    {
	margin-left:8px;
    }
}
@media (min-width : 800px){
        .wraper
    {
	display: table;
	width: 100%;
	height: 200px;

    }
    
    .wrapper_row
    {
	display: table-row;
	height: 100%;
    }
    .mobile{
	display:none;
    }
    #titre
    {
	display:inline-block;
	float:left;
	margin: 25px 2%;
    }
    #header_droit
    {
	display: inline-block;
	float:right;
	margin: 25px 2%;
	vertical-align:bottom;
    }
    nav
    {
	display:inline-block;
	margin-top: 25px;
	margin-left: 8px;
	width: 200px;
	vertical-align:top;
	height: 100%;
    }
    section
    {
	margin-left:0px;
	display: inline-block;
	width: calc(100% - 350px);
	vertical-align:top;
	height: calc(100% + 25px);
    }
    .menu_box
    {
	height:38px;
	overflow:hidden;
	border: solid 1px;
	text-align:center;
	vertical-align:bottom;
	line-height:38px;
	margin-right:-15px;
	border-radius: 10px;
	background-color: #a0a3ea;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
    }
    .menu_level_2
    {
	margin-left:15px;
    }
    .menu_level_3
    {
	margin-left:30px;
    }
    .selected
    {
	margin-left:22px;
	background-color: #fb3c3c;
    }
}

.chapitre
{
    float:left;
    display:inline-block;
}
.outils
{
    float: right;
    display: inline-block;
}
section > h1
{
    clear:both;
}
.clear
{
    clear:both;
}

.centrer
{
    text-align:center;
}
.souligne
{
    text-decoration:underline;
}
footer
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  2px 2px 2px 2px #aaa;
    width: 75%;
    min-width: 250px;
    padding: 20px;
}
header:after
{
    content: " "; 
    display: table;
    clear: both;
}