body
{
    background-color: #F5F5DC;
    padding:0px;
    margin: 0px;
    max-width: 100%;
}
header
{
    margin : 0px;
    min-height:125px;
    background-color: #f6f4bd;
    margin-bottom: 20px;
    width: 100%;
}
#titre
{
    font-size: 5em;
    font-family: "French Script MT";
    text-shadow: 8px 8px 12px #aaa;
}

section
{
    background: #fffe99;
    padding:25px;
    max-width: auto;
}

.wraper
{
    display: table;
    width: 100%;
    height: 200px;

}

    }
    
    .wrapper_row
    {
	display: table-row;
	height: 100%;
    }
    #titre
    {
	display:inline-block;
	float:left;
	margin: 25px 2%;
    }
    #header_droit
    {
	display: inline-block;
	float:right;
	margin: 25px 2%;
	vertical-align:bottom;
    }
    nav
    {
	display:inline-block;
	margin-top: 25px;
	margin-left: 8px;
	width: 210px;
	vertical-align:top;
	height: 100%;
	margin-right:-10px;
    }
    section
    {
	margin-left:0px;
	display: inline-block;
	width: calc(100% - 240px);
	vertical-align:top;
	height: calc(100% + 25px);
	position: relative;
    }
    .menu_box
    {
	background-color: #FFFDDF;
    }

.wrapper_row
{
    display: table-row;
    height: 100%;
}
#titre
{
    display:inline-block;
    float:left;
    margin: 25px 2%;
}
#header_droit
{
    display: inline-block;
    float:right;
    margin: 25px 2%;
    vertical-align:bottom;
}
nav
{
    display:inline-block;
    margin-top: 25px;
    margin-left: 8px;
    width: 210px;
    vertical-align:top;
    height: 100%;
    margin-right:-10px;
}
section
{
    margin-right: 8px;
    margin-left:0px;
    display: inline-block;
    width: calc(100% - 240px);
    vertical-align:top;
    min-height: calc(100% + 25px);
    position: relative;
}
.menu_box
{
    background-color: #FFFFFF;
}

.chapitre
{
    float:left;
    display:inline-block;
}
.outils
{
    float: right;
    display: inline-block;
}
.clear
{
    clear:both;
}

footer
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  2px 2px 2px 2px #aaa;
    width: 75%;
    min-width: 250px;
    padding: 20px;
}
header:after
{
    content: " "; 
    display: table;
    clear: both;
}

td {
    padding: 5px;
}
th {
    padding: 5px;
}






@media screen and (max-width: 35em) {

#titre{
    font-size: 2em;
}

section{
    float: right;
    font-size: 1em; 
    width: 100%;
    padding: 10px;
    
}

.cnt h1{
font-size: 13px;
font-weight:700;
}
.cnt h2{
font-size: 11px;
font-weight:700;
} 

blockquote{

        font-size: 11px;

}
li.active > a:focus {
    border: 2px solid black;
    border-radius: 30px;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    text-decoration: none;
    color : black;
}
li > a{
    margin-bottom: 2px;
}


}


@media screen and (min-width: 36em) and (max-width: 49em) {


#titre{
    font-size: 2em;
}

section{
    float: right;
    font-size: 1em; 
    width: 100%;
    padding: 10px;
    
}

.cnt h1{
font-size: 13px;
font-weight:700;
}
.cnt h2{
font-size: 11px;
font-weight:700;
} 

blockquote{

        font-size: 11px;

}
li.active > a:focus {
    border: 2px solid black;
    border-radius: 30px;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    text-decoration: none;
    color : black;
}
li > a{
    margin-bottom: 2px;
}
}

}

